# Default ignored files
/shelf/
/workspace.xml
/modules/util/Coffee_Machine_(Java).util.main.iml
/modules/Coffee Machine (Java)/task/Coffee_Machine_(Java).Coffee_Machine__Java_-task.iml
/modules/Coffee Machine (Java)/task/Coffee_Machine_(Java).Coffee_Machine__Java_-task.main.iml
/modules/Coffee Machine (Java)/task/Coffee_Machine_(Java).Coffee_Machine__Java_-task.test.iml
/modules/Coffee_Machine_(Java).iml
/modules/util/Coffee_Machine_(Java).util.iml
/modules/util/Coffee_Machine_(Java).util.test.iml
/compiler.xml
/externalDependencies.xml
/gradle.xml
/libraries/Gradle__com_github_hyperskill_hs_test_release_SNAPSHOT.xml
/libraries/Gradle__com_google_code_gson_gson_2_8_9.xml
/libraries/Gradle__commons_codec_commons_codec_1_11.xml
/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/libraries/Gradle__junit_junit_4_13_2.xml
/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_13.xml
/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_13.xml
/libraries/Gradle__org_assertj_assertj_core_3_17_2.xml
/libraries/Gradle__org_assertj_assertj_swing_3_17_1.xml
/libraries/Gradle__org_assertj_assertj_swing_junit_3_17_1.xml
/libraries/Gradle__org_easytesting_fest_reflect_1_4_1.xml
/libraries/Gradle__org_easytesting_fest_util_1_2_5.xml
/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/jarRepositories.xml
/misc.xml
/modules.xml
/frameworkLessonHistory/storage.storageData
/frameworkLessonHistory/storage.storageRecordIndex
/vcs.xml
